body.day {
    background-image: url('image/kelly-sikkema-00W-CT_859o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.night {
    background-image: url('image/patrick-mueller-e8kl4Vo3T4Y-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.TodoList {
    width: 100%; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#big-title {
    font-family: serif;
    font-weight: normal;
    font-size: 250%;
}

.dayTitle {
    color: black;
}

.nightTitle {
    color: white;
}

 ul {
    list-style: none;
    text-align: left;
    float: left;
    margin: 0;
    padding-top: 30px;
    line-height: 0px;
 }

 .output {
    font-family:sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #555555;
 }

 .output-night {
    font-family:sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #a7a7a7;
 }

 .input {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:thin;
    background: transparent;
    text-align: center;
    font-size: 18px;
    line-height: 50%;
 }

 .inputNight {
     color: #a7a7a7;
 }

 input:focus{
     outline: none;
 }

 span {
    padding: 0 0 0 80px;
    line-height: 27px;
 }

 .Night {
    color:black;
    font-size: 150%;
 }

 .Day {
     color: white;
 }